{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Информация о пользователе{% endblock title %}

{% block body %}
    <div class='container'>
        <a href="{% url "profile:password_change" %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Изменить пароль</a><br>
        <br><br>
        <h1>Пользователь {{ object.first_name }} {{ object.last_name }}</h1>
        <table width='100%' class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Изображение</th>                    
                    <th scope="col">Никнэйм</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Email</th>   
                    <th scope="col">Номер телефона</th>    
                    <th scope="col">Адрес доставки основной</th>  
                    <th scope="col">Адрес доставки дополнительный</th>        
                </tr>
            </thead>
            <tbody>
                <tr>
                    <tr>
                        <td><img src="{{ object.image.url }}" width="150" alt=""> </td>
                        <td>{{ object.user }}</td>
                        <td>{{ object.first_name }}</td>
                        <td>{{ object.last_name }}</td>
                        <td>{{ object.email }}</td>
                        <td>{{ object.phone_number }}</td>
                        <td>{{ object.address1 }}</td>
                        <td>{{ object.address2 }}</td>
                    </tr>
                </tr>
            </tbody>
        </table>
    </div>  
{% endblock body %}