{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Информация о пользователе{% endblock title %}

{% block body %}
    <div class='container'>
        <a href="{% url "profile:password_change" %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Изменить пароль</a><br>
        <br>
        <a href="{% url "profile:update" object.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Изменить данные пользователя</a><br>
        <br>
        
        <h1>Пользователь {{ object.first_name }} {{ object.last_name }}</h1>
        <div class='container'>
        <br><br>
        <table width='100%' class='container' class="table table-bordered" cellspacing="0" border="2">
            <tr>
                <th scope="col">Изображение</th><td><img src="{{ profile.image.url }}" width="150" alt=""></td>
            </tr>
            <tr>
                <th scope="col">Никнэйм</th><td>{{ object.user.username }}</td>
            </tr>
            <tr>
                <th scope="col">Имя</th><td>{{ object.first_name }}</td>
            </tr>
            <tr>
                <th scope="col">Фамилия<td>{{ object.last_name }}</td>
            </tr>
            <tr>
                <th scope="col">Email</th><td>{{ object.user.email }}</td>
            </tr>
            <tr>
                <th scope="col">Номер телефона</th><td>{{ profile.phone_number }}</td>
            </tr>
            <tr>
                <th scope="col">Адрес доставки основной</th><td>{{ profile.address1 }}</td>
            </tr>
            <tr>
                <th scope="col">Адрес доставки дополнительный</th><td>{{ profile.address2 }}</td>
            </tr>
        </table><br>
        <a href="{% url "order:order_for_user"%}?user_pk={{ user.pk }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Заказы пользователя</a><br>
        <br>
    </div>  
     
{% endblock body %}