{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Список жанров{% endblock title %}

{% block body %}
    <div class='container'>
    <br><br>
    <h1>Список жанров</h1>
    <a href="{% url 'genres:create' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Создать новый жанр</a><br>
    <table width='100%' class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Действие</th>            
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for obj in object_list %}
                    <tr>
                        <th scope="row">{{ obj.pk }}</th>
                        <td><a href="{% url "genres:detail" obj.pk %}">{{ obj.name }}</a></td>
                        <td>
                            <a href="{% url "genres:update" obj.pk %}">Изменить</a><br>
                            <a href="{% url "genres:delete" obj.pk %}">Удалить</a><br>
                        </td>
                    </tr>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    </div> 
{% endblock body %}
