{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Мои заказы {% endblock title %}

{% block body %}
<main role="main">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Номер заказа</th>
      <th scope="col">Товары</th>
      <th scope="col">Стоимость заказа</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>
  <tbody>
{% for object in object_list %}
{% if user == object.cart.user %}
    <tr>
      <th scope="row">{{ object.pk }}</th>
      <td>
        {% for books in object.cart.books.all %}
          <h6>{{ books.books.name }</h6>
        {% endfor %}
      </td>
      <td>
        {{ object.cart.price }} BYN
      </td>
      <td>
        {% if object.get_status_display != "('2', 'Подтвержден')" %}
          <span class="badge badge-dark">{{ object.get_status_display}}</span>
        {% endif %}
        {% if object.get_status_display == 'Новый' %}
          <button type="button" class="close" data-toggle="modal" data-target="#exampleModal">
          <span aria-hidden="true">&times;</span>
          </button>
        {% endif %}
      </td>
    </tr>


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">заказ № {{ object.pk }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
  <form action="{% url 'order:delete' object.pk %}" method="post">
    {% csrf_token %}
    {% comment %} {{ context }} {% endcomment %}
    <br>
    <input type="submit" class="btn btn-danger" value="Отменить заказ">
  </form>
  </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
  </div>

</main>

{% endif %}
{% endfor %}
{% endblock body%}