{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Информация о книге{% endblock title %}

{% block body %}
  <style type="text/css">
   BODY {
    background: #ebd5b3; /* Цвет фона веб-страницы */
   }
   TABLE {
    width: 300px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    border: 2px solid white; /* Прячем рамку вокруг таблицы */
   }
   TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid maroon; /* Параметры рамки */
    text-align: left; /* Выравнивание по левому краю */
   }
  </style>
    <div class='container'>
        <br><br>
        <h1>Книга {{ object.name }}</h1>
        <div>
            <button data-cart-btn=""  class='container' class="ok-product__add-shcart ok-btn  -btn-shopping-cart ok-product__btn"><a class="ok-product__go-shcart ok-btn -btn-theme-action" href="{% url 'cart:add' %}?book_pk={{ object.pk }}"><span>В корзину</span></a></button>
        </div>
        <table width='100%' class='container' class="table table-bordered" cellspacing="0" border="2">
            <tr>
                <th scope="col">Обложка книги</th><td><img src="{{ object.image.url }}" width="150" alt=""> </td>
            </tr>
            <tr>
                <th scope="col">Автор книги</th><td>
                {% for author in object.author.all %}
                    <a href="{% url "author:detail" object.pk %}">{{ author }}</a>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="col">Описание книги</th><td>{{ object.description }}</td>
            </tr>
            <tr>
                <th scope="col">Жанр книги</th><td>
                {% for genre in object.genre.all %}
                    <a href="{% url "books:detail" object.pk %}">{{ genre }}</a><br>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="col">Стоимость</th><td>{{ object.price }}</td>
            </tr>
            <tr>
                <th scope="col">Год издания</th><td>{{ object.year }}</td>
            </tr>
            <tr>
                <th scope="col">Количество страниц</th><td>{{ object.quantity }}</td>
            </tr>
            <tr>
                <th scope="col">Переплет</th><td>{{ object.binding }}</td>
            </tr>
            <tr>
                <th scope="col">Формат</th><td>{{ object.forma }}</td>
            </tr>
            <tr>
                <th scope="col">ISBN'</th><td>{{ object.isbn }}</td>
            </tr>
            <tr>
                <th scope="col">Вес (гр.)</th><td>{{ object.weight }}</td>
            </tr>
            <tr>
                <th scope="col">Возрастные ограничения</th><td>{{ object.age }}</td>
            </tr>
            <tr>
                <th scope="col">Издательство</th><td>{{ object.publishing }}</td>
            </tr>
            <tr>
                <th scope="col">Рейтинг</th><td>{{ object.rate }}</td>
            </tr>
            <tr>
                <th scope="col">Дата добавления</th><td>{{ object.add_time }}</td>
            </tr>
            <tr>
                <th scope="col">Дата изменения</th><td>{{ object.update_time }}</td>
            </tr>
        </table>
    </div>  
{% endblock body %}