{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Информация о книге{% endblock title %}

{% block body %}
    <div class='container'>
        <br><br>
        <h1>Книга {{ object.name }}</h1>
        <table width='100%' class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Обложка</th>
                    <th scope="col">Название книги</th>
                    <th scope="col">Автор</th>
                    <th scope="col">Жанр</th>
                    <th scope="col">Стоимость</th>
                    <th scope="col">Описание</th>            
                </tr>
            </thead>
            <tbody>
                <tr>
                    <tr>
                        <td><img src="{{ object.image.url }}" width="150" alt=""> </td>
                        <td>{{ object.name }}</td>
                        <td>{{ object.author }}</td>
                        <td>{{ object.genre }}</td>
                        <td>{{ object.price }}</td>
                        <td>{{ object.description }}</td>
                    </tr>
                </tr>
            </tbody>
        </table>
    </div>  
{% endblock body %}