{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Книгарня{% endblock title %}

{% block body %}
<br><br>

<div class="blog" >
 <div class="container" >
 <h1 class="text-center">Наши новинки</h1>
  <div class="row">
{% for obj in latest_books %}
   <div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card">
     <div class="card-img">
      <a href="{% url "books:detail" obj.pk %}"><img src="{{ obj.image.url }}" width="150 class="card-img-fluid" alt=""></a>
     </div>
     <div class="card-body">
     <h5 class="card-title"><a href="{% url "books:detail" obj.pk %}">{{ obj.name }}</a></h5>
      <p class="card-text">
        Стоимость: {{ obj.price }}
      </p>
     </div>
     <div class="card-footer">
      <a href="{% url 'cart:add' %}?book_pk={{ obj.pk }}" class="card-link">В корзину</a>
     </div>
    </div>
   </div>
   {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
    {% endif %}
   {% endfor %}
  </div>
 </div>
</div>

<br><br>

<div class="blog" >
 <div class="container" >
 <h1 class="text-center">Популярные</h1>
  <div class="row">
{% for obj in most_popular %}
   <div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card">
     <div class="card-img">
      <a href="{% url "books:detail" obj.pk %}"><img src="{{ obj.image.url }}" width="150 class="card-img-fluid" alt=""></a>
     </div>
     <div class="card-body">
     <h5 class="card-title"><a href="{% url "books:detail" obj.pk %}">{{ obj.name }}</a></h5>
      <p class="card-text">
        Стоимость: {{ obj.price }}
      </p>
      <p class="card-text">
        Рейтинг: {{ obj.rate }}
      </p>
     </div>
     <div class="card-footer"> 
      <a href="{% url 'cart:add' %}?book_pk={{ obj.pk }}" class="card-link">В корзину</a>
     </div>
    </div>
   </div>
   {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
    {% endif %}
   {% endfor %}
  </div>
 </div>
</div>

{% endblock body %}
