{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Книгарня{% endblock title %}

{% block body %}
<br><br><br>
<div class='container'>
  <h2>Наши новинки</h2><br>
 {% for obj in latest_books %}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <a href="{% url "books:detail" obj.pk %}"><img src="{{ obj.image.url }}" width="150 class="card-img-top" alt=""></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title"><a href="{% url "books:detail" obj.pk %}">{{ obj.name }}</a></h5>
            <p class="card-text">{{ obj.description }}</p>
            <p class="card-text"><small class="text-muted">Стоимость: {{ obj.price }}</small></p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock body %}
