{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Список книг{% endblock title %}

{% block body %}
    <div class='container'>
    <br><br>
    <h1>Список книг</h1>
    {% if user.is_superuser %}:
        <a href="{% url 'books:create' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Добавить новую книгу</a><br>
    {% endif %}
    <br>
    {% include "paginator.html" %}
    
    <table width='100%' class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Обложка</th>
                <th scope="col">Название книги</th>
                <th scope="col">Автор</th>
                <th scope="col">Жанр</th>
                <th scope="col">Стоимость</th>
                <th scope="col">Действие</th>            
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for obj in object_list %}
                    <tr>
                        <td><img src="{{ obj.image.url }}" width="150" alt=""></td>
                        <td><a href="{% url "books:detail" obj.pk %}">{{ obj.name }}</a></td>
                        <td>
                        {% for author in obj.author.all %}
                            {{ author }}<br>
                        {% endfor %}
                        </td>
                        <td>{{ obj.genre }}</td>
                        <td>{{ obj.price }}</td>
                        <td>
                            {% if user.is_superuser %}:
                                <a href="{% url "books:update" obj.pk %}">Изменить</a><br>
                                <a href="{% url "books:delete" obj.pk %}">Удалить</a><br>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    </div> 
{% endblock body %}
