{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Поиск {% endblock title %}

{% block body %}
<div class='container'>
    {% if results %}
        <h1>Результат поиска по <b>{{ request.GET.q }}</b></h1>
        <br/><br/>

        {% for result in results %}
            <h3><a href="{% url "books:detail" result.pk %}">{{ result.name }}</a></h3>
        {% endfor %}

    {% elif results1 %}
        <h1>Результат поиска по <b>{{ request.GET.q }}</b></h1>
        <br/><br/>

        {% for result in results1 %}
            <h3><a href="{% url "author:detail" result.pk %}">{{ result.name }}</a></h3>
        {% endfor %}

    {% else %}
        По результатам поиска ничего не найдено
    {% endif %}
</div>
{% endblock body %}