<div class="main-title-line ">
                            		Новинки недели
                            	</div>
<div data-grid-controller="" class="ok-product-box -mb-article clearfix">
<div class="ok-product col-sm-4 col-md-3" data-cart-id="2007111"><div class="ok-product__main ">
<div class="ok-product__compare">
<a class="ok-product__compare-href" data-toggle="tooltip" data-placement="top" title="" href="/compare/" data-compare-count="" data-original-title="Сравнить">0</a><a data-compare-id="2007111" href="#" data-toggle="tooltip" data-placement="top" title="" class="ok-product__compare-icon" data-original-title="Добавить в сравнение"></a>
</div>
<div class="ok-starmark -mark-0 ok-product__mark">
<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
</div>
<div class="ok-product__visual"><div class="ok-product__img"><a title="Дьявольский союз" href="/nehudozhestvennaya_literatura/publicistika/istoriya/diavolskii-soiuz-756772/"><img alt="Дьявольский союз" src="/pics/items/978-5-17-114915-4.jpg"></a></div></div>
<div class="ok-product__section"><div class="ok-product__title"><div class="ok-product__title-cont">
<div class="ok-product__status-box"><div class="ok-product__status -status-new">Новинка <span class="ok-product__status-effect"></span>
</div></div>
<a href="/nehudozhestvennaya_literatura/publicistika/istoriya/diavolskii-soiuz-756772">Дьявольский союз</a>
</div></div></div>
<div class="ok-product__section ok-product__footer clearfix"><div class="ok-product__action">
<div class="ok-product__price-block -state-one-price">
<span class="ok-product__price-main">26,00<s>руб.</s></span><span class="ok-product__price-info"><b>Цена</b></span>
</div>
<div class="ok-product__action-bar">
<button data-cart-btn="" class="ok-product__add-shcart ok-btn  -btn-shopping-cart ok-product__btn"><span>В корзину</span></button><a class="ok-product__go-shcart ok-btn -btn-theme-action" href="/shcart/?step=2&amp;nstep=2"><span>Оформить</span></a>
</div>
</div></div>
</div></div>
<div class="ok-product col-sm-4 col-md-3" data-cart-id="2007567"><div class="ok-product__main ">
<div class="ok-product__compare">
<a class="ok-product__compare-href" data-toggle="tooltip" data-placement="top" title="" href="/compare/" data-compare-count="" data-original-title="Сравнить">0</a><a data-compare-id="2007567" href="#" data-toggle="tooltip" data-placement="top" title="" class="ok-product__compare-icon" data-original-title="Добавить в сравнение"></a>
</div>
<div class="ok-starmark -mark-0 ok-product__mark">
<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
</div>
<div class="ok-product__visual"><div class="ok-product__img"><a title="Просто Маса" href="/hudozhestvennaya_literatura/detektivy_boeviki_trillery/prosto-masa/"><img alt="Просто Маса" src="/pics/items/20200629150624_978-5-17-126951-7.jpg"></a></div></div>
<div class="ok-product__section"><div class="ok-product__title"><div class="ok-product__title-cont">
<div class="ok-product__status-box"><div class="ok-product__status -status-new">Новинка <span class="ok-product__status-effect"></span>
</div></div>
<a href="/hudozhestvennaya_literatura/detektivy_boeviki_trillery/prosto-masa">Просто Маса</a>
</div></div></div>
<div class="ok-product__section ok-product__footer clearfix"><div class="ok-product__action">
<div class="ok-product__price-block -state-one-price">
<span class="ok-product__price-main">22,50<s>руб.</s></span><span class="ok-product__price-info"><b>Цена</b></span>
</div>
<div class="ok-product__action-bar">
<button data-cart-btn="" class="ok-product__add-shcart ok-btn  -btn-shopping-cart ok-product__btn"><span>В корзину</span></button><a class="ok-product__go-shcart ok-btn -btn-theme-action" href="/shcart/?step=2&amp;nstep=2"><span>Оформить</span></a>
</div>
</div></div>
</div></div>
<div class="ok-product col-sm-4 col-md-3" data-cart-id="2007568"><div class="ok-product__main ">
<div class="ok-product__compare">
<a class="ok-product__compare-href" data-toggle="tooltip" data-placement="top" title="" href="/compare/" data-compare-count="" data-original-title="Сравнить">0</a><a data-compare-id="2007568" href="#" data-toggle="tooltip" data-placement="top" title="" class="ok-product__compare-icon" data-original-title="Добавить в сравнение"></a>
</div>
<div class="ok-starmark -mark-0 ok-product__mark">
<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
</div>
<div class="ok-product__visual"><div class="ok-product__img"><a title="Опережая некролог" href="/hudozhestvennaya_literatura/biografii_memuary/avtobiografii/operezhaya-nekrolog/"><img alt="Опережая некролог" src="/pics/items/20200629150659_978-5-389-18133-5.jpg"></a></div></div>
<div class="ok-product__section"><div class="ok-product__title"><div class="ok-product__title-cont">
<div class="ok-product__status-box"><div class="ok-product__status -status-new">Новинка <span class="ok-product__status-effect"></span>
</div></div>
<a href="/hudozhestvennaya_literatura/biografii_memuary/avtobiografii/operezhaya-nekrolog">Опережая некролог</a>
</div></div></div>
<div class="ok-product__section ok-product__footer clearfix"><div class="ok-product__action">
<div class="ok-product__price-block -state-one-price">
<span class="ok-product__price-main">33,70<s>руб.</s></span><span class="ok-product__price-info"><b>Цена</b></span>
</div>
<div class="ok-product__action-bar">
<button data-cart-btn="" class="ok-product__add-shcart ok-btn  -btn-shopping-cart ok-product__btn"><span>В корзину</span></button><a class="ok-product__go-shcart ok-btn -btn-theme-action" href="/shcart/?step=2&amp;nstep=2"><span>Оформить</span></a>
</div>
</div></div>
</div></div>
<div class="ok-product col-sm-4 col-md-3" data-cart-id="2007569"><div class="ok-product__main ">
<div class="ok-product__compare">
<a class="ok-product__compare-href" data-toggle="tooltip" data-placement="top" title="" href="/compare/" data-compare-count="" data-original-title="Сравнить">0</a><a data-compare-id="2007569" href="#" data-toggle="tooltip" data-placement="top" title="" class="ok-product__compare-icon" data-original-title="Добавить в сравнение"></a>
</div>
<div class="ok-starmark -mark-0 ok-product__mark">
<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
</div>
<div class="ok-product__visual"><div class="ok-product__img"><a title="Игра Подсказчика" href="/hudozhestvennaya_literatura/detektivy_boeviki_trillery/sovremennyy_zarubezhnyy_detektiv/igra-podskazchika/"><img alt="Игра Подсказчика" src="/pics/items/20200629150615_978-5-389-17157-2.jpg"></a></div></div>
<div class="ok-product__section"><div class="ok-product__title"><div class="ok-product__title-cont">
<div class="ok-product__status-box"><div class="ok-product__status -status-new">Новинка <span class="ok-product__status-effect"></span>
</div></div>
<a href="/hudozhestvennaya_literatura/detektivy_boeviki_trillery/sovremennyy_zarubezhnyy_detektiv/igra-podskazchika">Игра Подсказчика</a>
</div></div></div>
<div class="ok-product__section ok-product__footer clearfix"><div class="ok-product__action">
<div class="ok-product__price-block -state-one-price">
<span class="ok-product__price-main">18,40<s>руб.</s></span><span class="ok-product__price-info"><b>Цена</b></span>
</div>
<div class="ok-product__action-bar">
<button data-cart-btn="" class="ok-product__add-shcart ok-btn  -btn-shopping-cart ok-product__btn"><span>В корзину</span></button><a class="ok-product__go-shcart ok-btn -btn-theme-action" href="/shcart/?step=2&amp;nstep=2"><span>Оформить</span></a>
</div>
</div></div>
</div></div>
<div class="ok-product col-sm-4 col-md-3" data-cart-id="2007394"><div class="ok-product__main ">
<div class="ok-product__compare">
<a class="ok-product__compare-href" data-toggle="tooltip" data-placement="top" title="" href="/compare/" data-compare-count="" data-original-title="Сравнить">0</a><a data-compare-id="2007394" href="#" data-toggle="tooltip" data-placement="top" title="" class="ok-product__compare-icon" data-original-title="Добавить в сравнение"></a>
</div>
<div class="ok-starmark -mark-0 ok-product__mark">
<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
</div>
<div class="ok-product__visual"><div class="ok-product__img"><a title="МККлэр.Темные искусства. Королева воздуха и тьмы" href="/hudozhestvennaya_literatura/fantastika_fentezi_mistika/mkkler-temnye-iskusstva-koroleva-vozdukha-i-tmy-832465/"><img alt="МККлэр.Темные искусства. Королева воздуха и тьмы" src="/pics/items/978-5-17-118941-9.jpg"></a></div></div>
<div class="ok-product__section"><div class="ok-product__title"><div class="ok-product__title-cont">
<div class="ok-product__status-box"><div class="ok-product__status -status-new">Новинка <span class="ok-product__status-effect"></span>
</div></div>
<a href="/hudozhestvennaya_literatura/fantastika_fentezi_mistika/mkkler-temnye-iskusstva-koroleva-vozdukha-i-tmy-832465">МККлэр.Темные искусства. Королева воздуха и тьмы</a>
</div></div></div>
<div class="ok-product__section ok-product__footer clearfix"><div class="ok-product__action">
<div class="ok-product__price-block -state-one-price">
<span class="ok-product__price-main">21,40<s>руб.</s></span><span class="ok-product__price-info"><b>Цена</b></span>
</div>
<div class="ok-product__action-bar">
<button data-cart-btn="" class="ok-product__add-shcart ok-btn  -btn-shopping-cart ok-product__btn"><span>В корзину</span></button><a class="ok-product__go-shcart ok-btn -btn-theme-action" href="/shcart/?step=2&amp;nstep=2"><span>Оформить</span></a>
</div>
</div></div>
</div></div>
<div class="ok-product col-sm-4 col-md-3" data-cart-id="2007199"><div class="ok-product__main ">
<div class="ok-product__compare">
<a class="ok-product__compare-href" data-toggle="tooltip" data-placement="top" title="" href="/compare/" data-compare-count="" data-original-title="Сравнить">0</a><a data-compare-id="2007199" href="#" data-toggle="tooltip" data-placement="top" title="" class="ok-product__compare-icon" data-original-title="Добавить в сравнение"></a>
</div>
<div class="ok-starmark -mark-0 ok-product__mark">
<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
</div>
<div class="ok-product__visual"><div class="ok-product__img"><a title="Двенадцать" href="/hudozhestvennaya_literatura/proza/klassicheskaya_i_sovremennaya_proza/dvenadtsat-801739/"><img alt="Двенадцать" src="/pics/items/978-5-17-111726-9.jpg"></a></div></div>
<div class="ok-product__section"><div class="ok-product__title"><div class="ok-product__title-cont">
<div class="ok-product__status-box"><div class="ok-product__status -status-new">Новинка <span class="ok-product__status-effect"></span>
</div></div>
<a href="/hudozhestvennaya_literatura/proza/klassicheskaya_i_sovremennaya_proza/dvenadtsat-801739">Двенадцать</a>
</div></div></div>
<div class="ok-product__section ok-product__footer clearfix"><div class="ok-product__action">
<div class="ok-product__price-block -state-one-price">
<span class="ok-product__price-main">23,40<s>руб.</s></span><span class="ok-product__price-info"><b>Цена</b></span>
</div>
<div class="ok-product__action-bar">
<button data-cart-btn="" class="ok-product__add-shcart ok-btn  -btn-shopping-cart ok-product__btn"><span>В корзину</span></button><a class="ok-product__go-shcart ok-btn -btn-theme-action" href="/shcart/?step=2&amp;nstep=2"><span>Оформить</span></a>
</div>
</div></div>
</div></div>
</div>
<div class="clearfix"></div>
<div class="main-title-line ">