<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parsing</title>
</head>
<body>
    <h1>Parsing log Apache</h1>
    <table border=1>
        <tr>
            <th>pk</th>
            <th>IP</th>
            <th>Browser</th>
            <th>Date</th>
            <!-- <td>String</td> -->
        </tr>
        <tr>
            {% for line in lines %}
                <tr>
                    <td>{{ line.pk }}</td>
                    <td>{{ line.ip }}</td>
                    <td>{{ line.browser }}</td>
                    <td>{{ line.date }}</td>
                    <!-- <td>{{ line }}</td> -->
                </tr>   
            {% endfor %}
        </tr>
    </table>
</body>
</html>