<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parsing</title>
</head>
<body>
    <h1>Parsing log Apache</h1>
    <table border=1>
        <tr>
            <th>IP</th>
            <th>Browser</th>
            <th>Date</th>
            <!-- <td>String</td> -->
        </tr>
        <tr>
            <td>{{ ip_line }}</td>
            <td>{{ brow_line }}</td>
            <td>{{ date_obj }}</td>
            <!-- <td>{{ line }}</td> -->
        </tr>
    </table>
</body>
</html>